body {

  padding-top: 20px;
  padding-bottom: 20px;
  background: url(background.jpg) no-repeat;
  background-size: cover;
}

.marketing,.footer {

  padding-right: 15px;
  padding-left: 15px;
  font-family: 'Cinzel';
}

h2 {

  margin-top: -3px;
}

label {

  margin-top: 5px;
  font-size: 18px;
}

.header {

  padding-bottom: 20px;
  font-family: 'Cinzel';
  text-align: center;
}

.header h3 {

  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  font-family: 'Cinzel';
}

.footer {

  padding-top: 19px;
  color: #777;
  border-top: 1px solid #bab2b2;
  font-family: 'Cinzel';
  text-align: center;
  font-size: 18px;
}

@media (min-width: 768px) {
  
  .container {
   
    max-width: 730px;
  }

}

.container-narrow > hr {

  margin: 30px 0;
}

.jumbotron {

  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  font-family: 'Cinzel';
  margin-top: -10px;
}

.jumbotron .btn {

  padding: 14px 24px;
  font-size: 21px;
  font-family: 'Cinzel';
}

.btn {

  margin-top: 10px;
}

.marketing {

  margin: 40px 0;
}
.marketing p + h4 {

  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  
  .header,.marketing,.footer {

    padding-right: 0;
    padding-left: 0;
  }
  
  .header {

    margin-bottom: 30px;
  }
 
  .jumbotron {

    border-bottom: 0;
  }
}
